@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(178, 180, 180, 0.6);
}

body::-webkit-scrollbar {
    display: none;
}


/* for navbar and homecard */

.nav {
    text-decoration: none;
    color: white !important;
    padding: 5px;
}

.nav:hover {
    color: rgb(193, 208, 210) !important;
}

/* Home */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home{
    color: black;
    text-decoration: none;
}
.home:hover{
    color: rgba(69, 69, 72, 0.6);
}
.homeHeading{
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.view {
    margin: 15px;
}

/* List */
.list {
    margin-bottom: 1rem;
    justify-content: center;
}

.listContainer {
    margin-top: 2rem;
    background-color: rgba(136, 217, 231, 0.1);
    padding: 2rem;
    box-shadow: 0px 0px 5px rgb(2, 2, 2);
    border-radius: 10px;
}

.listContainer img {
    margin-bottom: 1rem;
    border-radius: 10px;
}

/* Grid */
.grid-container {
    margin-top: 2rem;
    background-color: rgba(136, 217, 231, 0.1);
    text-align: center;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.row {
    border: 1px solid black;
}

.column {
    border: 1px solid black;
}

/* Button */
.toggleButtons {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5rem;
    width: 86.2%;
    max-width: 1330px;
    border: 1px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(136, 217, 231, 0.1);
}